@model MovieShop.Core.Models.Responses.MovieResponseModel

<div class="card mb-4 shadow bg-light">
    <a asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id" >
        <img src="@Model.PosterUrl" onerror="this.src='https://picsum.photos/id/237/200/300'" class="img-fluid" alt="@Model.Title" />
    </a>
</div>
